@tailwind base;
@tailwind components;
@tailwind utilities;

/* ============================= */
/* GLOBAL TYPOGRAPHY SYSTEM */
/* ============================= */

@layer components {
  .section-title {
    @apply text-6xl font-extrabold text-gray-900;
  }

  /* .section-dot {
    @apply text-primary;
  } */

  .section-dot {
  color: #7b8a9f;
}


  .section-subtitle {
    @apply text-xl font-semibold text-gray-900 mb-6;
  }

  .body-text {
    @apply text-gray-500 text-lg leading-relaxed;
  }

  .muted-text {
    @apply text-gray-400 text-sm;
  }
}

html {
  scroll-behavior: smooth;
}
